In [1]:
import pandas as pd

In [2]:
cities = pd.read_csv('./uscities.csv')
print(cities.shape)
cities.head()

(28338, 17)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220,10715,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807,3276,polygon,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90037 90031 9000...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203,4574,polygon,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545,5019,polygon,False,True,America/New_York,1,33129 33125 33126 33127 33128 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938,1526,polygon,False,True,America/Chicago,1,75287 75098 75233 75254 75251 75252 75253 7503...,1840019440

In [3]:
CO = cities[cities.state_id == 'CO']
print(CO.shape)
CO.head()

(448, 17)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
17,Denver,Denver,CO,Colorado,8031,Denver,39.7621,-104.8759,2876625,1831,polygon,False,True,America/Denver,1,80264 80230 80231 80236 80237 80235 80238 8023...,1840018789
70,Colorado Springs,Colorado Springs,CO,Colorado,8041,El Paso,38.8674,-104.7606,642413,946,polygon,False,True,America/Denver,2,80951 80909 80904 80905 80906 80907 80903 8093...,1840018825
119,Aurora,Aurora,CO,Colorado,8001,Adams,39.7087,-104.7273,379289,949,polygon,False,True,America/Denver,2,80247 80137 80045 80018 80019 80016 80017 8001...,1840018794
141,Fort Collins,Fort Collins,CO,Colorado,8069,Larimer,40.5478,-105.0656,312666,1149,polygon,False,True,America/Denver,2,80521 80528 80526 80524 80525 80523 80527 80553,1840020151
277,Lakewood,Lakewood,CO,Colorado,8059,Jefferson,39.6977,-105.1168,157935,1416,polygon,False,True,America/Denver,2,80465 80232 80235 80214 80215 80227 80226 8022...,1840020198

In [4]:
top_20 = CO.head(20)
top_20 = top_20.drop(['city_ascii', 'state_id', 'state_name',
                      'county_fips', 'county_name', 'density',
                      'source', 'military', 'incorporated',
                      'timezone', 'ranking', 'zips', 'id'], axis=1)
top_20 = top_20.reset_index(drop=True)
top_20.head()

               city      lat       lng  population
0            Denver  39.7621 -104.8759     2876625
1  Colorado Springs  38.8674 -104.7606      642413
2            Aurora  39.7087 -104.7273      379289
3      Fort Collins  40.5478 -105.0656      312666
4          Lakewood  39.6977 -105.1168      157935

In [5]:
top_20.to_csv('top_20_CO_cities.csv')

In [6]:
top_20

                city      lat       lng  population
0             Denver  39.7621 -104.8759     2876625
1   Colorado Springs  38.8674 -104.7606      642413
2             Aurora  39.7087 -104.7273      379289
3       Fort Collins  40.5478 -105.0656      312666
4           Lakewood  39.6977 -105.1168      157935
5             Pueblo  38.2705 -104.6112      143932
6           Thornton  39.9197 -104.9438      141464
7     Grand Junction  39.0876 -108.5673      139143
8            Greeley  40.4151 -104.7706      137810
9            Boulder  40.0249 -105.2523      124345
10            Arvada  39.8321 -105.1511      121272
11       Westminster  39.8837 -105.0624      113166
12        Centennial  39.5926 -104.8674      110937
13   Highlands Ranch  39.5419 -104.9708      105631
14          Longmont  40.1686 -105.1005      102474
15         Lafayette  39.9949 -105.0997       99645
16          Loveland  40.4166 -105.0623       78877
17        Broomfield  39.9541 -105.0527       70465
18       Castle Rock  39.3763 -104.8535       68484
19     Commerce City  39.8642 -104.8434       60336